.flight-app {
  background-color: #596d87;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  min-height: 100vh;
  color: #0e2a4e;
  font-weight: 400;
}
body{
  overflow-x: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content :space-between;
  width: 100%;
  padding: 20px;
  height: 50px;
}

.logo-container {
  text-align: center; /* Center the logo */
}

.logo {
  display: flex;
  align-items: center;
  width: 200px; /* Adjust the size of the logo */
  margin-bottom: 10px;
}

.nav-button {
  display: flex;
  align-items: end;
  gap: 6px;
  font-family: Inria Serif, sans-serif;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 15px 25px;
  border: 1px solid #0e2a4e;
  border-radius: 15px;
  color: #0e2a4e;
}



.home-button-text {https://cdn.builder.io/api/v1/image/assets/TEMP/b5cf53a14646ab4de873982c2b7c17827bc5d7b4cc1411faaa18395a14ef4f7f?apiKey=016541497ad648c88343efbdc94a7e81&
  position :relative;
  z-index: 1;
  font-size: 20px ;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 1000%;
  max-width:fit-content;
  padding: 5%;
}

.flight-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 80px;
  justify-items: center; /* Center items horizontally */
}

.flight-card {
  width: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid #0e2a4e;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  padding: 15px;
  text-align: center; /* Center text */
}

.flight-image {
  width: 100%;
  max-width: 200px; /* Smaller image size */
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.flight-details {
  text-align: center;
}

.flight-price {
  color: #0e2a4e;
  font-weight: bold;
}

.flight-date {
  font-size: 10px;
  color: #0e2a4e;
  font-style: italic;
  line-height: 1.4;
}

.nav-button1 {
  align-self: center;
  border-radius: 15px;
  border: 1px solid #0e2a4e;
  background-color: rgba(255, 255, 255, 0.65);
  color: #fff;
  padding: 20px 30px;
  font-size: 14px;
  font-family: Inria Serif, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom